@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #ff7a59;
  --secondary-color: #0091ae;
  --primary-color-hover-bg: #0d7a4730;
  --secondary-color-hover-bg: #0091ae30;
  --banner-overlayer-color:#ff7a5910;
} */

form {
  margin: 0;
}

/* Loader */
.loader-line {
  width: 100%;
  height: 3px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.text-blue-important {
  color: #1d4ed8 !important;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: #444;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }

  50% {
    left: 20%;
    width: 80%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}

/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  /* For horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  /* Make track rounded */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* Make handle rounded */
  transition: opacity 2s;
  /* Transition for hiding scrollbar */
  opacity: 0;
  /* Initially hide scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Show scrollbar when hovered */
.show-scrollbar ::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* .scrollbox {
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
} */

/* .scrollbox:hover {
  &::-webkit-scrollbar {
    width: 8px;
  }
} */

/* @media (hover: none) {
  .scrollbox {
    &::-webkit-scrollbar {
      width: 8px;
    }
  }
} */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Background overlay */
  display: flex;
  /* Use flexbox to center the dialog */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  overflow-y: auto;
  /* Allow scrolling if needed */
  z-index: 1000;
  /* Ensure it's above other content */
}

.dialog-content {
  max-height: 90%;
  /* Restrict height of dialog */
  overflow-y: auto;
  /* Allow scrolling within the dialog */
  background: white;
  /* Dialog background */
  margin: 20px;
  /* Add some margin */
  padding: 20px;
  /* Add padding */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* Optional shadow for better appearance */
}

.centered-tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  transition: width 0.1s linear;
}

.tooltip-styles {
  min-width: 200px;
  max-width: 800px;
  z-index: 1000;
  white-space: pre-wrap;
  overflow: visible;
}

.ck-editor {
  min-width: 100% !important;
  max-width: 100% !important;
}

.ck-editor__editable_inline {
  min-height: 200px !important;
}

.ck-content h1 {
  font-size: 2em;
  font-weight: bold;
}

.ck-content h2 {
  font-size: 1.75em !important;
  font-weight: bold;
}

.ck-content h3 {
  font-size: 1.5em !important;
  font-weight: bold;
}

.ck-content p {
  font-size: 1em;
}

.ck-content blockquote {
  font-style: italic;
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.ck-editor__main {
  border: 1px solid rgb(59 130 246);
  border-radius: 4px;
}

.dark .ck.ck-toolbar.ck-toolbar_grouping {
  color: #fdfdfd;
  background-color: #2a2a2a;
}

.dark .ck.ck-editor__main>.ck-editor__editable {
  background: #2a2a2a !important;
  border-radius: 0;
  color: #fdfdfd !important;
}

.dark .ck.ck-button:not(.ck-disabled):hover,
.dark a.ck.ck-button:not(.ck-disabled):hover {
  background: #212121;
}

.dark .ck.ck-toolbar {
  background: #2a2a2a;
  border: 1px solid var(--ck-color-toolbar-border);
  padding: 0 var(--ck-spacing-small);
}

/* Fileupload styles  */
.kb-data-box {
  flex: 1;
}

.kb-modal-data-title {
  margin-bottom: 20px;
}

.kb-data-title h6 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
}

.kb-file-upload {
  margin-bottom: 20px;
}

.file-upload-box {
  border: 1px dashed #b6bed1;
  background-color: #f0f2f7;
  border-radius: 4px;
  min-height: 150px;
  position: relative;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* Change to column layout */
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
  /* Center items vertically */
  color: #8194aa;
  font-weight: 400;
  font-size: 15px;
}

.file-upload-box .file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.file-link {
  color: #475f7b;
  text-decoration: underline;
  margin-left: 3px;
}

.file-upload-box .file-link:hover {
  text-decoration: none;
}

.file-atc-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.file-image {
  /* width: 130px;
  min-width: 130px;
  height: 85px;
  min-height: 85px; */
  width: 130px;
  height: 85px;
  background-size: cover;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #eaecf1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #475f7b;
  padding: 3px;
}

.file-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.file-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file-detail h6 {
  word-break: break-all;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.file-detail p {
  font-size: 12px;
  color: #8194aa;
  line-height: initial;
  font-weight: 400;
  margin-bottom: 8px;
}

.file-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.file-action-btn {
  font-size: 12px;
  color: #8194aa;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  /* margin-right: 15px; */
  cursor: pointer;
}

.file-action-btn:hover {
  color: #3d546f;
  text-decoration: underline;
}

.file-atc-box:last-child {
  margin-bottom: 0;
}


@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}




.text-shadow {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background-size: 100% 32px;
  height: 32px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



/* Table cells */


th {
  padding: 8px 24px 8px 24px;
  color: #33475b;
}

/* Table header */

thead th {
  background-color: #F5F8FA;
  color: #525259;
}

/* Table footer */

tfoot td {
  background-color: #F5F8FA;
  color: #525259;
}

.rotate {
  animation: rotation infinite 3s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.nav-rounded::before {
  clip-path: path("M9 0H0V9V10H0.0546875C0.0185547 9.67188 0 9.33789 0 9C0 4.0293 4.0293 0 9 0ZM10 0.0546875C9.67188 0.0185547 9.33789 0 9 0H10V0.0546875Z");
  bottom: 0;
  content: "";
  height: 14px;
  left: 0px;
  position: absolute;
  width: 14px;
  z-index: 50;
  top: 100%;
}

.nav-rounded::after {
  clip-path: path("M9 0H0V9V10H0.0546875C0.0185547 9.67188 0 9.33789 0 9C0 4.0293 4.0293 0 9 0ZM10 0.0546875C9.67188 0.0185547 9.33789 0 9 0H10V0.0546875Z");
  bottom: 0;
  content: "";
  height: 14px;
  right: 0px;
  position: absolute;
  width: 14px;
  z-index: 50;
  top: 100%;
  transform: scaleX(-1);
}


/* window error modal  */

.window-error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  /* Semi-transparent background */
  backdrop-filter: blur(5px);
  /* Blur effect */
  display: none;
  /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window-error-modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.window-error-modal-title {
  font-weight: 600;
}

.window-error-modal-title>span {
  color: #b61515;
}

.window-error-modal-button-ct {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.lay-height-container {
  min-height: -webkit-fill-available !important;
}

.window-error-modal-button-button {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

/* File Upload Prgress Bar */

.meter {
  border-radius: 0px;
  box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .3);
  box-sizing: content-box;
  height: 0.75rem;
  margin-top: 0.5rem;
  /* margin: 10px 0 20px; */
  /* padding: 10px; */
  position: relative;
  width: 100%;
}

.meter>span {
  display: block;
  height: 100%;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  background-color: var(--secondary-color);
  background-image: linear-gradient(center bottom,var(--secondary-color) 37%,var(--secondary-color) 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  width: 100%;
}

.dark .meter>span {
  background-color: #2a2a2a;
  background-image: linear-gradient(center bottom, #2a2a2a 37%, #2a2a2a 69%);
}

.meter>span:after,
.animate>span>span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate>span:after {
  display: none;
}

/* ProseMirror Editor */
/* .prosemirror-editor {
  height: 400px;
} */

.ProseMirror {
  position: relative;
  /* overflow-y: auto; */
  overflow: auto;
}

.modal-editor .ProseMirror {
  height: 360px;
}

.edit-note .ProseMirror {
  min-height: 360px;
}

.create-object-editor .ProseMirror {
  min-height: 180px;
}

.updateRichText .ProseMirror {
  height: 380px;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.advance-color-picker>div {
  width: 100% !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

/* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
.ProseMirror [draggable][contenteditable=false] {
  user-select: text
}

.ProseMirror-selectednode {
  /* outline: 2px solid #8cf; */
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  margin-right: 3px;
  display: inline-block;
}

.note-menuitem {
  border: 1px solid transparent;
  border-radius: 3px;
  /* height: 27px; */
  padding: 2px;
  vertical-align: middle;
  transition: 150ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-menuitem:hover {
  border: 1px solid rgb(203, 214, 226);
  border-radius: 3px;
  vertical-align: middle;
  transition: 150ms ease-out;
}

.note-active-state {
  background: rgb(203, 214, 226);
  border: 1px solid rgb(153, 172, 194);
  border-radius: 3px;
  vertical-align: middle;
  transition: 150ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProseMirror-menuseparator {
  border-right: 1px solid rgb(234, 240, 246);
  height: 24px;
  margin: auto 4px;
  vertical-align: middle;
  display: inline-block;
}

.ProseMirror-menu-dropdown,
.ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: 1px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 4px;
  display: inline-block;
  position: relative;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu,
.ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: .3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  display: flex;
  background: transparent;
  border-bottom: 1px solid var(--secondary-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #666666;
  left: 0;
  min-height: 1em;
  overflow: visible;
  padding: 6px 6px;
  position: relative;
  right: 0;
  top: 0;
  z-index: 10;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

.note-font-dropdown-menu {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: 400;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  font-size: 12px;
  line-height: 14px;
  padding: 5px 6px;

  background-color: #eaf0f6;
  border-color: #cbd6e2;
  color: #506e91;
}

.note-dd-Select-menu {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  max-height: 262px;
  padding-bottom: 8px;
  padding-top: 8px;
  overflow: auto;
}

.note-dd-Select-menu-options {
  font-size: 13px;
  min-height: auto;
  padding: 3px 6px;
  color: #33475b;
  color: inherit;
}

.ProseMirror-icon {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}

.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.ProseMirror-example-setup-style hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror-example-setup-style img {
  cursor: default;
}

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -.5px 2px 5px rgba(0, 0, 0, .2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "âœ•";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}

#editor,
.editor {
  background: white;
  color: black;
  background-clip: padding-box;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  margin-bottom: 23px;
}

/* .ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 10px;
} */

.ProseMirror {
  padding: 4px 8px 4px 14px;
  line-height: 1.2;
  outline: none;
}

/* .ProseMirror p { margin-bottom: 1em } */

.line-clamp-2 {
  @apply overflow-hidden text-ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

menu,
ul {
  list-style: initial;
}

menu,
ol {
  list-style: auto;
}

.ProseMirror>ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.ProseMirror>ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.ProseMirror>ul ul ul {
  list-style-type: square;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.ProseMirror a,
.EditorView a {
  color: #0091ae;
  cursor: pointer;
  font-weight: 600;
}

.ProseMirror a:hover,
.EditorView a:hover {
  color: #0091ae;
  text-decoration: underline;
  text-decoration-color: black;
}

.ProseMirror p,
.EditorView p {
  line-height: 1.5;
}

.editor-menuitem {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.editor-menuitem:hover {
  border: 1px solid #cbd6e2;
  border-radius: 3px;
}

.EditorView p {
  overflow-wrap: break-word;
  min-height: 17px;
}

.EditorView figure img {
  display: inline !important;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  line-height: normal;
  text-transform: none;
}

.ProseMirror img {
  height: 100%;
}

.EditorView img {
  height: revert-layer;
}

.EditorView ol,
.EditorView ul {
  margin: revert-layer;
  padding: revert-layer;
}

.ProseMirror ol,
.ProseMirror ul,
.EditorView ol,
.EditorView ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.form-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.form-checkbox:checked {
  background-color: white;
  border-color: currentColor;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='{{secondary_color}}' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.full-height-fix {
  height: 85vh;
  height: calc(85vh - constant(safe-area-inset-top));
  /* iOS 11 support */
  height: calc(85vh - env(safe-area-inset-top));
  /* Modern iOS support */
  overflow-y: auto;
}

#app {
  width: 100vw;
}

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}